{
    "src/**": true,
    "**/*.ts": true,
    "**/*.map": true,
    ".gitignore": true,
    ".vscodeignore": true,
    "tsconfig.json": true,
    ".eslintrc.json": true,
    ".eslintignore": true,
    "**/*.md": true,
    "!README.md",
    "!CHANGELOG.md",
    "!LICENSE",
    "scripts/**": true,
    "test/**": true,
    ".github/**": true,
    "docs/**": true,
    "qa/**": true,
    "target/**": true,
    "crates/**": true,
    "config/**": true,
    "coax-vscode/**": true,
    "!bundled/**/*",
    "!out/**/*",
    "!package.json",
    "!package-lock.json"
}
